:root {
    --ratio_square: 80;
    --ratio_gap:    20;
}

@media (orientation:portrait) and (max-aspect-ratio: 2/3) {
    :root {
        --unit: calc(100vw/(var(--n)*var(--ratio_square) + (var(--n) + 1)*var(--ratio_gap)));
    }
}

@media (orientation:portrait) and (min-aspect-ratio: 2/3) {
    :root {
        --unit: calc((200vh/3)/(var(--n)*var(--ratio_square) + (var(--n) + 1)*var(--ratio_gap)));
    }
}

@media (orientation:landscape) and (min-aspect-ratio: 11/7) {
    :root {
        --unit: calc(100vh/(var(--n)*var(--ratio_square) + (var(--n) + 1)*var(--ratio_gap)));
    }
}

@media (orientation:landscape) and (max-aspect-ratio: 11/7) {
    :root {
        --unit: calc((700vw/11)/(var(--n)*var(--ratio_square) + (var(--n) + 1)*var(--ratio_gap)));
    }
}

:root {
    --gap: calc(var(--unit)*var(--ratio_gap));
    --square: calc(var(--unit)*var(--ratio_square));
    --cell: calc(var(--gap) + var(--square));
    --edge: calc(var(--cell)*var(--n) - var(--gap));
    --side: calc(var(--edge) / 7);
    --left: calc((100vmin - var(--edge))/2);
    --sideleft: calc((100vmin - 3*var(--side))/2);
    --sidetop: calc((100vmin - 3*var(--side))/2);
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (orientation:portrait) {
    .theme_bar .grid {
        bottom: calc(3*var(--cell));
        left: var(--left);
    }

    .theme_bar .side {
        flex-direction: row;
        bottom: var(--gap);
    }

    .theme_pad .grid {
        bottom: calc(3*var(--gap) + 3*var(--side));
        left: calc(var(--left));
    }

    .theme_pad .side {
        bottom: var(--gap);
        left: var(--sideleft);
    }

    .theme_pad .button_highlight {
        bottom: calc(var(--side) + var(--gap));
        left: calc(var(--sideleft) + 3*(var(--side)) + var(--gap));
    }

    .theme_pad .button_undo {
        bottom: calc(var(--side) + var(--gap));
        left: calc(var(--sideleft) - var(--gap) - var(--side));
    }
}

@media (orientation:landscape) {
    .theme_bar .side {
        flex-direction: column;
        right: var(--gap);
    }

    .theme_pad .side {
        right: var(--gap);
        top: var(--sidetop);
    }

    .theme_pad .grid {
        top: var(--left);
        left: calc(1*var(--cell));
    }

    .theme_pad .button_highlight {
        right: calc(var(--gap) + var(--side));
        top: calc(var(--sidetop) - var(--gap) - var(--side));
    }

    .theme_pad .button_undo {
        right: calc(var(--gap) + var(--side));
        top: calc(var(--sidetop) + var(--gap) + 3*var(--side));
    }
}

/*Menu buttons*/
.button_highlight {
    position: absolute;
    width: var(--side);
    height: var(--side);
}

.button_undo {
    position: absolute;
    width: var(--side);
    height: var(--side);
}

body .focus {
    border: 4px solid;
    margin: -4px;
}

/*side choice list*/
.theme_bar .side {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
}

.theme_pad .side {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: calc(3*var(--side));
    height: calc(3*var(--side));
    justify-content: left;
    align-items: center;
    text-align: center;
    border: 1px solid;
    border-color: black;
    color: gray;
}

.side .square {
    display: flex;
    width: var(--side);
    height: var(--side);
    font-size: calc(var(--side));
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 -1px -1px 0;
}

/*side variable style*/
.side .highlight {
    background-color: lightgray;
}

.theme_pad .mode_highlight {
    color: black;
}

.side .strikeout {
    font-size: 0;
    /*background: linear-gradient(to top left,
                                rgba(0,0,0,0) 0%,
                                rgba(0,0,0,0) calc(50% - 2px),
                                rgba(0,0,0,1) 50%,
                                rgba(0,0,0,0) calc(50% + 2px),
                                rgba(0,0,0,0) 100%);*/
    /*background-color: black;*/
}
                            

.side .alert {
    color: red;
}

/*main grid*/
.grid {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(var(--n), var(--cell));
    grid-auto-rows: var(--cell);
}

.grid .cell {
    display: grid;
    grid-template-columns: var(--square) var(--gap);
}

/*inequalities between squares*/
.cell .right {
    display: flex;
    font-size: var(--square);
    width: var(--gap);
    height: var(--square);
    justify-content: center;
    align-items: center;
    transform: scale(0.2, 1);
}

.cell .below {
    display: flex;
    width: var(--square);
    height: var(--gap);
    font-size: var(--square);
    justify-content: center;
    align-items: center;
    transform: rotate(90deg) scale(0.2, 1);
}

/*squares*/
.cell .square {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    width: var(--square);
    height: var(--square);
    justify-content: left;
    align-items: top;
    text-align: center;
    margin: -1px;
}

/*squares variable style*/
.cell .focus {
    border: 4px solid;
    margin: -4px;
}

.cell .highlight {
    background-color: lightgray;
}

/*number default style*/
.square .guess {
    color: grey;
}

.square .multiple {
    font-size: calc(var(--square)/3);
    width: calc(var(--square)/3.1);
    height: calc(var(--square)/3);
}

/*number variable style*/
.square .board {
    color: black;
}

.square .unique {
    position: absolute;
    display: flex;
    font-size: calc(var(--square)*1.1);
    width: var(--square);
    height: var(--square);
    justify-content: center;
    align-items: center;
}

.square .alert {
    color: red;
}

/*general style effects*/
.hide {
    visibility: hidden;
}

.remove {
    display: none;
}

